<nav class="nav-extended">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">&dehaze;</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if(!user) { %>
        <li><a href="/auth/login">Log In</a></li>
        <li><a href="/auth/signup">Sign Up</a></li>
        <% } else { %>
          <% if (user.admin) { %>
            <li><a href="/profile/admin">Admin</a></li>
          <% } %>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/auth/logout">Log Out</a></li>
        <% } %>
      </ul>
    </div>
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a href="#test1">Test 1</a></li>
        <li class="tab"><a class="active" href="#test2">Test 2</a></li>
        <li class="tab disabled"><a href="#test3">Disabled Tab</a></li>
        <li class="tab"><a href="#test4">Test 4</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="/login">Log In</a></li>
    <li><a href="/signup">Sign Up</a></li>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/logout">Log Out</a></li>
  </ul>
