<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>websitetitle</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <header>
      <% include ./partials/nav %>
    </header>
    <div class="container">
      <% include ./partials/alerts %>
      <%- body %>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript">

    </script>
    <script>
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.datepicker')
      var instances = M.Datepicker.init(elems, {
        autoClose: false,
        minDate: new Date('01/01/1900'),
        maxDate: new Date(),
        yearRange: [1920, 2019]
      })
    })
  </script>
  </body>
</html>
